
body {
	background-color: #778da5;

}

.quizTitle {
	color: #fefefe;
	font-size: 2em;
	font-family: 'Lato';
	text-transform: uppercase;
	font-weight: 300;
	width: 100%;
	text-align: center;
	margin: 2em auto;
}

.quizContainer {
	background-color: #fefefe;
	border: 2px solid #e2fe90;
	width: 80%;
	height: 700px;
	margin: 1em auto;
	margin-left: 10%;
	padding: 3em 1em;
	position: absolute;
}

h1 {
	font-weight: normal;
}

#plot {
	font-family: 'Lato';
	font-weight: 400;
	color: #778da5;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	padding: 2em 0;
	margin-top:10%;
}

#options {
	position: absolute;
	bottom: 10em;
	width: 100%;
	text-align: center;
}

.real {
	width: 7em;
	height: 3em;
	background-color: #83d0b0;
	border: 1px solid #d6f068;
	font-family: 'Lato';
	font-weight: 700;
	letter-spacing: 4px;
	font-size: 2em;
	color: #fefefe;
	text-align: center;
	text-transform: uppercase;
	margin: 1em;
	padding-top: 1.5em;
	display: inline-block;
	cursor: pointer;
}

.fake {
	width: 7em;
	height: 3em;
	background-color: #a85163;
	border: 1px solid #d6f068;
	font-family: 'Lato';
	font-weight: 700;
	letter-spacing: 4px;
	font-size: 2em;
	color: #fefefe;
	text-align: center;
	text-transform: uppercase;
	margin: 1em;
	padding-top: 1.5em;
	display: inline-block;
	cursor: pointer;
}

.again {
	width: 6em;
	height: 3em;
	background-color: #d6f068;
	font-size: 1.5em;
	color: #778da5;
	text-align: center;
	text-transform: uppercase;
	margin: 1em;
	padding-top: 1.5em;
	display: block;
	margin-left: 45%;
	cursor: pointer;
	position: absolute;
	bottom: 8em;
}

.results {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	padding: 2em ;
margin-top: 10%;
}

.right {
	color: #83d0b0;
}

.wrong {
	color: #a85163;
}